<footer class="site-footer">  

        <div class="footer-container">

    <img src="{{ '/assets/images/biz_frog.png' | relative_url }}" alt="Frog Wizard, Grumps the Wiggleworm!" class="footer-img-left">
    <div class="footer-title">
        <blockquote style="text-align: center; margin-left: 35px; margin-right: 35px; padding-top: 5px; padding-bottom: 1px;"><p><i>By sharing our techniques, we empower eachother and build a stronger community of artists, regardless of where we are in our creative journies, collectively or as a whole. Free education and skills in art should be a basic human right, and self expression in all forms is paramount and critical to the human experience, collectively and individually! </i></p></blockquote>      <hr>

            <h6><i>Copyright © 2026 JD The Printmaker<br>
    This Website is Maintained by John "JD" DeNapoli.<br>
Please see the contact page if you need any assistance.</i></h6>
        </div>        

    <img src="{{ '/assets/images/biz_logo.png' | relative_url }}" alt="JD The Printmaker Logo!" class="footer-img-right"></div>
    </div>
</footer> 
