
<header class="site-header">  

        <div class="header-container">

    <img src="assets/images/biz_frog.png" alt="Frog Wizard, Grumps the Wiggleworm!" class="header-img-left">
    <div class="header-title">
        <div class="transbox">
    <h1>JD The Printmaker</h1>
    <hr>
        <h2><i>Jack of All Trades... || Art of All Kinds;</i></h2>
        <hr>
        </div>        
</div>
    <img src="assets/images/biz_logo.png" alt="JD The Printmaker Logo!" class="header-img-right"></div>
</div>

</header> 
