<ul style="list-style-type: '🐟 :'; margin-left: 25px; padding-left: 15px;">
            <li>Purchase of any of my existing body of work (a gallery is available upon request);</li>
            <li>Custom print commissions, in limited or open editions, including posters or flyers;</li>
            <li>Booking an appointment for what I call "Subconscious Mapping" (sit with me for a while while I intuitively paint and draw a symbolic map of your inner self!);</li>
            <li>Hand bound custom notebooks, patches, bags, clothing, or other printmaking-adjacent works on textiles, both in current stock, and on commission;</li>
            <li>Learning anything about the printmaking process for yourself, or for booking a class or workshop;</li>
            <li>Live Music Bookings of any kind for any performance space or type (including DJing, singer/songwriter, etc.);</li>
            <li>Starting a band, music project, collaboration, or music production, either electronic or acoustic;</li>
            <li>Consulting services for your creative projects or business ventures;</li>
            <li>Or if you need any help with your social media data analysis (or literally any data analysis, that's my way of relaxing)</li>
            <li>Hell, I've got 23 years experience as a Dungeon Master, and I'll even run you anything from any system, from one shot to a 20 year campaign! (this is a totally free offer, no charge, I just really love the game and am always happy to teach new players or groups!)</li>
        </ul>