<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ '/assets/images/JD_favicon.png' | relative_url }}" type="image/png">
    <!-- add stylesheet or other resources here -->
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body style="border-style: outset; border-width: 15px; border-color: #3b002b; border-radius: 15px;">

    {% include header.html %}
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}

</body>
</html>